@use '../../../styles/base/charte' as charte;

.drawer {

  > .head {
    display: inline-flex;
    gap: 10px;
    align-items: center;

    > .title {
      font-family: charte.$fontFamily;
      font-size: 18px;
      font-weight: 500;
    }
  }


  > .drawer-container {
    margin-top: 16px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 14px;
    height: 75px;
    background-color: charte.$whiteColor;
  }
}